//
   Created by yyzeng on 2015/8/19.
- if(title)
  h1= title

- if(docs.length)
 h2 Task
      each task in docs
         li(style="display:inline") #{task.task}
         a(href="/tasks/#{task.id}/edit") Edit
         form(method="post", action="/tasks/" + task.id)
             input(name="_method", value="DELETE", type="hidden")
             button.btn(type="submit") Delete
         br

- else
    p You dont have any tasks!

p
  a(href='/tasks/new') Add a Task

  - if(typeof flash != 'undefined')
    include ../mixins/flash-messages
    mixin flash-messages(flash)