//
   Created by yyzeng on 2015/8/25.
//- if(typeof flash != 'undefined')
//    - if(flash.warning)
//      div.alert-message.warning
//        p= flash.warning
//    - if(flash.info)
//      div(data-alert='alert').alert-message.success
//        p= falsh.info


mixin flash-messages(flash)
- if(flash.warning)
  div.alert-message.warning
      p= flash.warning
- if(flash.info)
  div(data-alert='alert').alert-message.success
      p= falsh.info